<div class="container">
  <div class="gallery-title">
    <h2>Cupcake Gallery</h2>
    <div class="button_area">
      <% if current_user && current_user.admin == true %>
      <%= link_to "Create", new_cupcake_path, class: "btn btn-main" %>
      <% end %>
    </div>
  </div>
  <% if current_user && current_user.admin == true %>
    <div class="wrapper" data-controller="drag" data-drag-url="/cupcakes/:id/move">
  <% else %>
    <div class="wrapper">
  <% end %>
    <% @cupcakes.order(position: :asc).each do |cupcake| %>
      <div class="box" data-id="<%= cupcake.id %>">
        <% if cupcake.photos.attached? %>
          <%= render '/shared/modal_with_carousel', cake: cupcake %>
        <% end %>
        <!--<div class="middle">
          <div class="text">
            <h4><%= cupcake.name %></h4>
            <%= cupcake.item_code %>
          </div>
          <% if current_user && current_user.admin == true %>
            <%= link_to "Edit", edit_cupcake_path(cupcake), class: "btn btn-white" %>
            <%= link_to "Delete",
              cupcake_path(cupcake),
              method: :delete,
              class: "btn btn-white",
              data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>-->
        <div class="buttons">
          <% if current_user && current_user.admin == true %>
            <%= link_to "Edit", edit_cupcake_path(cupcake), class: "btn btn-white" %>
            <%= link_to "Delete",
              cupcake_path(cupcake),
              method: :delete,
              class: "btn btn-white",
              data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>