<div class="container">
  <div class="button_area">
    <% if current_user && current_user.admin == true %>
    <%= link_to "Create", new_cake_path, class: "btn btn-main" %>
    <% end %>
  </div>
  <div class="wrapper">
    <% @cakes.each do |cake| %>
      <%= link_to cake_path(cake) do %>
        <div class="box">
          <%= cl_image_tag cake.photos.first.key, crop: :fill, class: "image" %>
          <div class="middle">
            <div class="text">
              <h4><%= cake.name %></h4>
              <%= cake.item_code %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



<!-- <ul>
  <% @cakes.each do |cake| %>
  <%= cl_image_tag cake.photos.first.key, height: 300, width: 400, crop: :fill %>
  <li><%= link_to cake.name, cake_path(cake) %></li>
  <% end %>
</ul> -->

