<div class="container">
  <div class="gallery-title">
    <h2>Cake Gallery</h2>
    <div class="button_area">
      <% if current_user && current_user.admin == true %>
      <%= link_to "Create", new_cake_path, class: "btn btn-main" %>
      <% end %>
    </div>
  </div>
  <div class="wrapper">
    <% @cakes.each do |cake| %>
      <div class="box">
        <% if cake.photos.attached? %>
          <%= render '/shared/modal_with_carousel', cake: cake %>
        <% end %>
        <div class="middle">
          <div class="text">
            <h4><%= cake.name %></h4>
            <%= cake.item_code %>
          </div>
          <div class="buttons">
            <% if current_user && current_user.admin == true %>
              <%= link_to "Edit", edit_cake_path(cake), class: "btn btn-white" %>
              <%= link_to "Delete",
                cake_path(cake),
                method: :delete,
                class: "btn btn-white",
                data: { confirm: "Are you sure?" } %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


