<div class="container">
  <div class="button_area">
    <% if current_user && current_user.admin == true %>
    <%= link_to "Create", new_cake_path, class: "btn btn-main" %>
    <% end %>
  </div>
  <div class="wrapper">
    <% @cakes.each do |cake| %>
      <div class="box">
        <%= link_to cake_path(cake) do %>
          <% if cake.photos.attached? %>
            <%= cl_image_tag cake.photos.first.key, crop: :fill, class: "image" %>
          <% end %>
          <div class="middle">
            <div class="text">
              <h4><%= cake.name %></h4>
              <%= cake.item_code %>
            </div>
            <% if current_user && current_user.admin == true %>
              <%= link_to "Edit", edit_cake_path(cake), class: "btn btn-white" %>
              <%= link_to "Delete",
                cake_path(cake),
                method: :delete,
                class: "btn btn-white",
                data: { confirm: "Are you sure?" } %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


