<h2><%= @cake.name %></h2>
<h4><%= @cake.item_code %></h4>

<%= @cake.photos.attached? %>

<% if @cake.photos.present? %>
  <% @cake.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>


<%= link_to "Edit", edit_cake_path(@cake) %>
<%= link_to "Delete",
            cake_path(@cake),
            method: :delete,
            data: { confirm: "Are you sure?" } %>