<div class="container">
  <div class="info-text">
    <h2>Cake Order</h2>
    <br>
    <p>All cake designs can be tailored to your design requests.<br>Please take a look at our Gallery for inspiration.<br><br> You may choose one of our complete designs. <br>Or choose a design and change aspects such as colour, flowers, add text etc.<br> Or submit a complete custom order. </p>
    <%# <p class="color-red"> &#10033; We are closed now until further notice.</p> %>
    <p class="color-red"> &#10033; We are not taking further orders for July and August. September dates will be released soon.</p>
  </div>
  <%#prevent rendering for the form%>
  <%# if false %>
  <div class="form-box">
  <%= simple_form_for(@cake_order) do |f| %>
    <h3>Your Cake</h3>
    <%= f.input :size, :collection => ['4\'\' (4-6 servings) £35', '6\'\' (8-10 servings) £55', '8\'\' (12-14 servings) £85'], input_html: {class: "form-select"}, prompt: 'Select Size' %>
    <p class="small-notice"> &#10033; For other sizes please email to enquire. </p>
    <%= f.input :flavour, :collection => 
      ['Carrot Cake with Cream Cheese Buttercream Filling & Vanilla Buttercream (n)', 
      'Chocolate Cake with Chocolate Hazelnut Buttercream Filling & Vanilla Buttercream (n)', 
      # 'Coconut Cake with Coconut Ganache, Fruit (Peach/Kiwi) Filling & Vanilla Buttercream',
      'Lemon Cake with Vanilla Buttercream',
      'Vanilla Cake with Caramel Filling & Vanilla Buttercream',
      'Vanilla Cake with Fruit (Strawberry/Peach/Kiwi) Filling & Vanilla Buttercream'], input_html: {class: "form-select"}, prompt: 'Select Flavour' %>
      <p class="small-notice"> &#10033; All cakes contain eggs, milk / (n) contains treenuts, peanuts </p>
    <%= f.input :cake_design, collection: @cakes_list, label: 'Design', prompt: 'If you would like one of our designs please select here.', input_html: {class: "form-select"} %>
    <div class="request-box">
    <label class="select optional" for="photo-area">Design request / modification</label>
    <div class="photo-label">If you would like to change some aspects of your chosen design or create a complete custom design, <br> please upload pictures of what you like below and include description below.</div>
    <div class="photo-area">
      <%= f.file_field :photo1, as: :file, input_html: {class: "photo-input"} %>
      <%= f.file_field :photo2, as: :file, input_html: {class: "photo-input"} %>
      <%= f.file_field :photo3, as: :file, input_html: {class: "photo-input"} %>
    </div>
    <%= f.text_area :message,
                    rows: 10,
                    cols: 60,
                    required: true,
                    placeholder: "Type your message here.
Change in colour/design? New design? Add Happy Birthday message? Allergies?"%>
    </div>
    <div class= "hidden d-none">
      <%= f.text_field :nickname %>
    </div>
    <h3 class="h3-padding-top">Your Details</h3>
    <%= f.input :name, placeholder: 'Enter your name' %>
    <%= f.input :email, placeholder: 'Enter your Email' %>
    <p class="small-notice"> &#10033; Please make sure your email is correct. In order for us to contact you back. </p>
    <%= f.input :number, label: 'Contact Number (Mobile)', placeholder: 'Enter your number' %>
    <p class="small-notice"> &#10033; We will only contact you by message incase we don't hear back from you through email. As our emails sometimes end up in Junk Mail. </p>
    <%= f.input :due_date, as: :string, required: true, label: 'Due date (Weekends only)', input_html: {class: "datepicker"} %>
    <p class="small-notice"> &#10033; 7 Days notice required for all orders </p>
    <%= f.input :collection, as: :radio_buttons, label: 'Collection / Delivery', collection: [['Pick Up', 'Pick Up (from London W5 / 9:00 to 13:00)'], ['Delivery', 'London Delivery (subject to availability from £5)']], label_method: :last, value_method: :first, :item_wrapper_class => 'inline', input_html: {class: "input-radio"} %>
    <div class="delivery-option">
      <%= f.input :recipient_name, placeholder: 'Enter recipient\'s name' %>
      <%= f.input :address, placeholder: 'Enter recipient\'s address', required: true %>
      <%= f.input :postcode, placeholder: 'Enter recipient\'s postcode', required: true %>
      <%= f.input :contact_number, placeholder: 'Enter recipient\'s number', required: true %>
    </div>
    <%= f.submit 'Send Cake Order', class: "btn-order", id: "newOrderSubmitButton" %>
  <% end %>
  </div>
  <%# end %>
</div>