<div class="container">
  <div class="info-text">
    <h2>Cupcake Order</h2>
    <br>
    <p>All cake designs are bespoke and tailored to your design requests.<br><br>Please take a look at our Gallery for inspiration.<br> You can choose from our designs, merge designs or/and suggest your own idea. <br>We are most happy to create your ideal cake with you.</p>
  </div>
  <%= simple_form_for(@cupcake_order) do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :cupcake_name, collection: @cupcakes_list %>
    <%= f.input :collection, as: :radio_buttons, collection: [['0', 'Pick Up (From London W5 / 9:00 to 13:00)'], ['1', 'Delivery']], label_method: :last, value_method: :first, :item_wrapper_class => 'inline' %>
    <%= f.input :boxes, :collection => ['Box of 6 (1 flavour) £24', 'Box of 12 (1-2 flavour) £44'] %>
    <p> &#10033; Min. order 6 / Max. order 48 </p>
    <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-max-file-size="2" data-dropzone-max-files="5">
      <%= f.file_field :photos, as: :file, multiple: true, direct_upload: true, data: { dropzone_target: "input" } %>
      <div class="dropzone-msg dz-message needsclick">
        <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
        <span class="dropzone-msg-desc">2 MB file size maximum. Allowed file types png, jpg</span>
      </div>
    </div>
    <%= f.input :flavour, :collection => 
      ['Carrot Cake with Cream Cheese Frosting & Vanilla Buttercream (n)', 
      'Chocolate Cake with Chocolate Hazelnut Frosting & Vanilla Buttercream (n)', 
      'Black Sesame Cake with Sesame Tahini Frosting & Vanilla Buttercream (s)', 
      'Matcha Cake with Matcha & Vanilla Buttercream', 
      'Mocha Cake with Espresso & Vanilla Buttercream',
      'Peanut Butter Cake with Peanut Butter Frosting & Vanilla Buttercream (n)'] %>
        <p> &#10033; All cakes contain eggs, milk / (n) contains treenuts, peanuts / (s) contains sesame</p>
    <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.text_area :message,
                    rows: 8,
                    cols: 40,
                    required: true,
                    placeholder: "Your Message"%><br>
    <div class= "hidden d-none">
      <%= f.text_field :nickname %>
    </div>
    <%= f.submit class: "btn-order" %>
  <% end %>
</div>