<div class="container">
  <div class="info-text">
    <h2>Cupcake Order</h2>
    <br>
    <p>All cupcake designs can be tailored to your design requests.<br>Please take a look at our Gallery for inspiration.<br><br> You may choose one of our complete designs. <br>Or choose a design and change aspects such as colour, flowers, add text etc.<br> Or submit a complete custom order. </p>
  </div>
  <div class="form-box">
  <%= simple_form_for(@cupcake_order) do |f| %>
    <h3>Your Cupcake</h3>
    <%= f.input :boxes, :collection => ['Box of 6 (1 flavour) £24', 'Box of 12 (1-2 flavour) £44', 'Other quantity - please state in message below'], input_html: {class: "form-select"}, prompt: 'Select Quantity' %>
    <p class="small-notice"> &#10033; Min. order 6 / Max. order 48 </p>
    <%= f.input :flavour, :collection => 
      ['Carrot Cake with Cream Cheese Frosting & Vanilla Buttercream (n)', 
      'Chocolate Cake with Chocolate Hazelnut Frosting & Vanilla Buttercream (n)', 
      'Black Sesame Cake with Sesame Tahini Frosting & Vanilla Buttercream (s)', 
      'Matcha Cake with Matcha & Vanilla Buttercream', 
      'Mocha Cake with Espresso & Vanilla Buttercream',
      'Peanut Butter Cake with Peanut Butter Frosting & Vanilla Buttercream (n)'], input_html: {class: "form-select"}, prompt: 'Select Flavour' %>
        <p class="small-notice"> &#10033; All cakes contain eggs, milk / (n) contains treenuts, peanuts / (s) contains sesame</p>
    <%= f.input :cupcake_design, collection: @cupcakes_list, label: 'Design', prompt: 'If you would like one of our designs please select here.', input_html: {class: "form-select"} %>
    <div class="request-box">
    <label class="select optional" for="photo-area">Design request / modification</label>
    <div class="photo-label">If you would like to change some aspects of your chosen design or create a complete custom design, <br> please upload pictures below and include description below.</div>
    <div class="photo-area">
      <%= f.file_field :photo1, as: :file, input_html: {class: "photo-input"} %>
      <%= f.file_field :photo2, as: :file, input_html: {class: "photo-input"} %>
      <%= f.file_field :photo3, as: :file, input_html: {class: "photo-input"} %>
    </div>
    <%= f.text_area :message,
                    rows: 10,
                    cols: 60,
                    required: true,
                    placeholder: "Type your message here.
Example - Can I have 5 sunflower designs and 1 red flower design. Screenshots attatched. 
Allergic to coconut."%><br>
    </div>
    <div class= "hidden d-none">
      <%= f.text_field :nickname %>
    </div>
    <h3 class="h3-padding-top">Your Details</h3>
    <%= f.input :name, placeholder: 'Enter your name' %>
    <%= f.input :email, placeholder: 'Enter your Email' %>
    <p class="small-notice"> &#10033; Please make sure your email is correct. In order for us to contact you back. </p>
    <%= f.input :due_date, as: :string, required: true, label: 'Due date', input_html: {class: "datepicker"} %>
    <%= f.input :collection, as: :radio_buttons, label: 'Collection / Delivery', collection: [['Pick Up', 'Pick Up (from London W5 / 9:00 to 13:00)'], ['Delivery', 'London Delivery (subject to availability from £5)']], label_method: :last, value_method: :first, :item_wrapper_class => 'inline', input_html: {class: "input-radio"} %>
    <div class="delivery-option">
      <%= f.input :recipient_name, placeholder: 'Enter recipient\'s name' %>
      <%= f.input :address, placeholder: 'Enter recipient\'s address', required: true %>
      <%= f.input :postcode, placeholder: 'Enter recipient\'s postcode', required: true %>
      <%= f.input :contact_number, placeholder: 'Enter recipient\'s number', required: true %>
    </div>
    <%= f.submit 'Send Cupcake Order', class: "btn-order" %>
  <% end %>
  </div>
</div>