<!DOCTYPE html>
<html>
  <head>
    <title>ButterBeeBakery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon1.PNG') %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="stylesheet" href="dropzone/dist/min/dropzone.min.css">
    <link rel="stylesheet" href="dropzone/dist/min/basic.min.css">
  </head>

  <body>
    <div class="d-flex flex-column min-vh-100">
      <%= render 'shared/flashes' %>
      <%= render 'shared/navbar' %>
        <div class="flex-grow-1">
          <%= yield %>
          <a href="#" class="to-top"><i class="fas fa-arrow-up"></i></a>
        </div>
        <%= render 'shared/footer' %>
    </div>
  </body>
</html>
